.footer-content>img{
    width: 20rem;
}
.footer-section > .container >:nth-child(1){
align-items: flex-start;
}
.footer-content{
    height: 28rem;
    
}
.footer-content>ul>li{
    padding: .3rem 0;
}
.footer-section > .container{
    gap: 12rem;
    padding-top: 6rem;
}
.footer-section{
    background-color: #ebf2fa;
}