.nav-section{
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}

nav {
    justify-content: space-between !important;
}

.nav-left>img {
    width: 18rem;
}

.nav-left>.img-text {
    background-image: url(assets/asset33.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.8rem;
    font-size: 1.5rem;
}

.nav-right>ul>:nth-child(1)>ul {
    z-index: 9999;
    box-shadow: .1rem .1rem 1rem black;
    border-radius: 1rem;
    display: none;
    position: absolute;
background-color: #fff;
}
.nav-right>ul>:nth-child(1)>ul>:nth-child(1){
    position: relative;
    top:1rem;
}
.nav-right>ul>:nth-child(4)>ul {
    z-index: 9999;
    box-shadow: .1rem .1rem 1rem black;
    border-radius: 1rem;
    display: none;
    position: absolute;
    background-color: #fff;
}
.nav-right>ul>:nth-child(4)>ul>:nth-child(1){
    position: relative;
    top:1rem;
}

.nav-right>ul>:nth-child(1):hover>ul {
    display: block;
}

.nav-right>ul>:nth-child(4):hover>ul {
    display: block;
}

.fa-angle-down{
    position: relative;
    top: .2rem;
 }
.nav-right > ul> :nth-child(5){
    border-radius: 1rem;
border: .05rem solid black;
cursor: pointer;
}
.nav-right > ul> :nth-child(5):hover{
    border: .05rem solid var(--primary-color);
}
.nav-right > ul> :nth-child(5):hover a{
    color: var(--primary-color);
}
.nav-right > ul> :nth-child(6){
    border-radius: 1rem;
background-color: var(--primary-color);
margin: 0 0  0 1rem;


}
.nav-right > ul> :nth-child(6)>a{
    color: #fff;
}
.nav-right > ul> :nth-child(6):hover{
    cursor: pointer;
    background-color: var(--primary-color-dark);
}